/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/09/2019, 2:26:23 PM
    Author     : wiljo912
*/

* {
    font-family: sans-serif;
}

#button-div{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 30px;
}

#button-div p {
    margin-left: 20px;
    font-size: 12px;
    font-style: italic;
}


button {
    margin: 5px 5px 0px 5px;
}

#end-of-form-action-btn button{
    display: flex;
    justify-content: center;
    margin: 13px auto 0px auto;
    padding: 5px;
}

#page-header{ 
        margin: 0 auto;
        background-color: lightcoral;
}

h1 {
    text-align: center;
    padding: 10px;
    margin: 10px;
}


#sign-in-p {
     margin: 30px auto;
    width: 400px;
    text-align: center;
    
}

form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 350px;
    /* To see the outline of the form */
    padding: 5px;
    /*border: 1px solid #CCC;*/
    /*border-radius: 1em;*/
}

fieldset {
    margin: 20px auto;
    width: 300px;
}

label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 120px;
  text-align: right;
  padding:5px;
}

input {
  font: 1em sans-serif;

  /* To give the same size to all text fields */
  width: 200px;
  box-sizing: border-box;

  border: 1px solid #999;
}
input:focus {
  /* To give a little highlight on active elements */
  border-color: #000;
}
