<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ShoppingApp">
    <head>
        <title>Quantity to purchase</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/ngStorage.min.js"></script>
        <script src="js/shopping.js"></script>
    </head>
    
    <body ng-controller="SaleController as saleCtrl">
    
    <div ng-include="'menu.html'"></div>

        <div id="page-header"><h1>Shopping Cart</h1></div>

        <table>
            <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="saleItem in saleCtrl.items">
                    <td>{{saleItem.product.name}}</td>
                    <td>{{saleItem.product.listPrice | currency}}</td>
                    <td>{{saleItem.quantityPurchase}}</td>
                    <td>{{saleItem.salePrice | currency}}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td><b>Total Cost:</b></td>
                    <td colspan="3" id="total-data">{{saleCtrl.total | currency}}</td>
                </tr>
            </tfoot>
        </table>


        <div id="cart-submit">        
            <button ng-click="saleCtrl.checkOut(saleItems)">Checkout Cart</button>
        </div>
    </body>
</html>
