<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ShoppingApp">
    <head>
        <title>View Products</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <script src="js/angular.min.js"></script>
        <script src="js/angular-resource.min.js"></script>
        <script src="js/ngStorage.min.js"></script>
        <script src="js/shopping.js"></script>
    </head>
    <body ng-controller="ProductController as prodCtrl">
        
        <!--TODO Change Button layout currently set up so user has signed in, dynamic-->
        <div id="button-div"> 
            <button type="button" onclick="window.location.href='index.html';">Home</button>
            <button type="button" >Browse Products</button>
            <button type="button" >View Cart</button>
            <button type="button" >Sign out</button>
            <p>Welcome User</p><!-- TODO make dynamic -->
        </div>
     
       
        <div id="page-header"><h1>Products</h1></div>
        
        <div id="button-div"> 
            <button ng-repeat="cat in prodCtrl.categories">{{cat}}</button>
            <!--<button type="button" >Widgets</button>
            <button type="button" >Frobnosticators</button>\
                        <button type="button" >All</button>
-->
        </div>
        
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Available</th>
                <th>Purchase</th>
            </tr>
            <tr ng-repeat="product in prodCtrl.products">
                <td>{{product.name}}</td>
                <td>{{product.description}}</td>
                <td>{{product.listprice}}</td>
                <td>{{product.quantityInStock}}</td>
                <td><button>Buy</button></td>
            </tr>
            <!-- dummy products
            <tr>
                <td>Dodgy Doohicky</td>
                <td>A doohicky that comes with no guarentee of any kind</td>
                <td>$12.43</td>
                <td>10</td>
                <td><button>Buy</button></td>
            </tr>
            <tr>
                <td>Fuzzy Frobnosticator</td>
                <td>A Frobnosticator that fell in some cat hair</td>
                <td>$3.21</td>
                <td>5</td>
                <td><button>Buy</button></td>
            </tr>-->
        </table>
        
        
    </body>
</html>
 
